<!doctype html>
<title>Movie platform</title>

<head>
    <link rel="stylesheet" href="~/css/site.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<header>
    <div id="title-container" style="display: flex; align-items: center; justify-content: space-between;">
        <img src="/images/Title.png" alt="Logo" style="height: 50px; width: 250px;"> 
        <form id="form" style="margin: 0 auto;"> 
            <input type="search" placeholder="Search...">
            <button type="submit">Search</button>
        </form>
        <img src="/images/userr.png" alt="User Icon" class="user-icon-img" style="height: 50px;"> 
    </div>
</header>

<div id="main">
    @RenderBody()
</div>
<footer>
    Batuhan Seyhan
</footer>
</body>